params {

    vep_candidates =
        "${projectDir}/results/annotation/vep_clinical_candidates.tsv"

    clinvar_annotations =
        "${projectDir}/results/annotation/clinvar_annotations.tsv"

    gnomad_frequency =
        "${projectDir}/results/annotation/gnomad_frequency.tsv"

    outdir =
        "${projectDir}/results/nextflow"
}

process {

    executor = 'local'

    cpus = 1
    memory = '2 GB'

    withName: BUILD_MASTER {
        publishDir = [
            path: "${params.outdir}/annotation",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: SCORE_VARIANTS {
        publishDir = [
            path: "${params.outdir}/prioritization",
            mode: 'copy',
            overwrite: true
        ]
    }

    withName: BUILD_DATABASE {
        publishDir = [
            path: "${params.outdir}/database",
            mode: 'copy',
            overwrite: true
        ]
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
}

report.overwrite = true
timeline.overwrite = true
trace.overwrite = true
dag.overwrite = true
